@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

.white-text {
    color: #fff;
}
/* reset */

.navbar {
    background: #fff;
    border: none;
    padding: 1% 0 1% 0;
    border-bottom: 1px solid #ccc;
}

.navbar-inverse {
    margin: 0;
}
.navbar-inverse .navbar-brand p{
    color: #222;
    position: relative;
    bottom: 45%;
    font-family: 'Noto Sans', sans-serif;
}
.navbar-brand {
    display: flex;
}
.navbar-brand img {
    width: 100%;
}

.navbar-collapse .navbar-nav li a {
    color: #555;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Noto Sans', sans-serif;
}

/* nav end */


#section01 {
    width: 80%;
    height: 760px;
    background-color: black;
    padding-top: 2%;
    line-height: 50px;
    font-family: 'Noto Sans', sans-serif;
    margin: 0 auto;
    line-height: 50px;
}

.sec01-main {
    padding-left: 24%;
}
/* section01 end */

#section02 {
    width: 100%;
    height: 100vh;
    margin: 0 auto;
}

.content-img img {
    width: 100%;
}

.sec02-con {
    padding-top: 5%;
}

.sec02-txt {
    padding-top:15%
}