@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

@font-face { font-family: 'S-CoreDream-4Regular'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'S-CoreDream-6Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff'); font-weight: normal; font-style: normal; }


#section05 {
    width: 100%;
    height: auto;
}

#section05 h2 {
    font-family: 'S-CoreDream-6Bold';
    color: #222;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 26px;
}
#section05 h4 {
    color: #222;
    font-weight: bold;
    font-family: 'S-CoreDream-4Regular';
    font-size: 15px;
}
#section05 p {
    color: #444;
    font-family: 'S-CoreDream-4Regular';
    font-size: 14px;
}

.tab {
    float: left;
    width: 10%;
    height: auto;
    background-color: #fff;
    border: 1px solid #ccc;
}
  
.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 15px 9px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 15px;
    font-family: 'S-CoreDream-4Regular';
}

.tab button:hover {
    background-color: #f5c5ba;
}
  
.tab button.active {
    background-color: #eea999;
}
  
.tabcontent {
    display: none;
    float: left;
    padding: 0px 12px;
    width: 90%;
    border-left: none;
    height: 359px;
    background: #eee;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.tabcontent1 {
    display: block;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
    background: #eee;
    padding: 0px 12px;
    width: 90%;
    border-left: none;
    height: 359px;
    float: left;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.col {
    width: 100%;
    display: flex;
    padding-bottom: 2%;
    
}
.col li {
    width: 100%;
}