@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

@font-face { font-family: 'S-CoreDream-4Regular'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'S-CoreDream-6Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff'); font-weight: normal; font-style: normal; }

.white-text {
    color: #fff;
}
p {
    font-family: 'S-CoreDream-4Regular';
    color: #444;
    font-size: 16px;
}
/* reset */

.navbar {
    width: 100%;
    background: #fff;
    border: none;
    padding: 1% 0 1% 0;
    border-bottom: 1px solid #ccc;
}

.navbar-inverse {
    margin: 0;
}
.navbar-inverse .navbar-brand p{
    color: #222;
    position: relative;
    bottom: 48%;
    font-family: 'S-CoreDream-4Regular';
}
.navbar-brand {
    display: flex;
}
.navbar-brand img {
    width: 100%;
}

.navbar-collapse .navbar-nav li a {
    color: #555;
    font-size: 16px;
    font-weight: bold;
    font-family: 'S-CoreDream-4Regular';
}

/* nav end */


#section01 {
    width: 100%;
    height: auto;
    background-color: #f7f7f7;
}
.sec01-main {
    width: 100%;
}
.sec01-main {
    width: 100%;
    height: 600px;
    background:  url(../images/main2.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.sec01-text1{
    font-size: 55px;
    margin-bottom: 0;
    padding-bottom: 0;
    font-family: 'S-CoreDream-6Bold';
}
.sec01-text2 {
    font-size: 16px;
    font-family: 'S-CoreDream-4Regular';
}
/* section01 end */

#section02 {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.clear {
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid #ccc;
}

.sec02-con {
    flex-direction: column;
}
.sec02-con h1 {
    width: 98%;
    font-family: 'S-CoreDream-6Bold';
    color: #333;
}
.sec02-con h2 {
    width: 98%;
    color: #333;
    font-weight: bold;
    font-family: 'S-CoreDream-4Regular';
}
.sec02-con p {
    font-family: 'S-CoreDream-4Regular';
    font-size: 15px
}

.sec02-water {
    padding-top: 2%;
}
.sec02-water img {
    width: 100%;
}

.sec02-info {
    display: flex;
}
.sec02-infotxt {
    padding-top: 7%;
}
.def {
    background:url(../images/sec02-1.webp);
    width: 50%;
    height: 480px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* 디폴트 이미지=1번이미지 */
.img1{
    background:url(../images/sec02-1.webp);
    width: 50%;
    height: 480px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img2{
    background:url(../images/sec02-2.webp);
    width: 50%;
    height: 480px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.img3{
    background:url(../images/sec02-3.webp);
    width: 50%;
    height: 480px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* .img4{background:url(../images/7094310.jpg) ;} */

.sec02-6:hover .sec02-6-img
.sec02-6-img {
    width: 40%;
    height: 346px;
    background: url(../images/sec02-6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
    margin: 0 auto;
    display: none;
}

/* section02 end */

#section03 {
    width: 100%;
    height: auto;
    margin: 0 auto;
}
@import "lesshat";

.ba-slider-container { 
    padding-top:2%;
}
.ba-slider {
    position: relative;
    overflow: hidden;
}
 
.ba-slider img {
    width: 100%;
    display:block;
}
 
.resize {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;
}


.handle { /* Thin line seperator */
  position:absolute; 
  left:50%;
  top:0;
  bottom:0;
  width:4px;
  margin-left:-2px;
 
  background: rgba(0,0,0,.5);
  cursor: ew-resize;
}
 
.handle:after {  /* Big orange knob  */
    position: absolute;
    top: 50%;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;
 
    content:'\21d4';
    color:white;
    font-weight:bold;
    font-size:36px;
    text-align:center;
    line-height:64px;
 
    background: #ffb800; /* @orange */
    border:1px solid #e6a600; /* darken(@orange, 5%) */
    border-radius: 50%;
    transition:all 0.3s ease;
    box-shadow:
      0 2px 6px rgba(0,0,0,.3), 
      inset 0 2px 0 rgba(255,255,255,.5),
      inset 0 60px 50px -30px #ffd466; /* lighten(@orange, 20%)*/ 
}

.draggable:after {
    width: 48px;
    height: 48px;
    margin: -24px 0 0 -24px;
    line-height:48px;
    font-size:30px;
}

.ba-slider img {
    width: 100%;
    height: 500px;
}
.resize img {
    width: 100%;
    height: 500px;
}

.sec03-daily {
    padding-top:14%;
    font-family: 'S-CoreDream-6Bold';
}
.sec03-daily h1 {
    color: #333;
}
.sec03-daily p {
    font-family: 'S-CoreDream-4Regular';
    color: #444;
    font-size: 16px;
}
/* section03 end */

#section04 {
    width: 100%;
    height: auto;
}

.sec04-img img {
    width: 100%;
}
/* section04 end */

#section05 {
    width: 100%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.sec05-photo {
    width: 100%;
}

.sec05-img1 img {
    width: 100%;
}
.sec05-img2 img {
    width: 100%;
}
.sec05-img3 img {
    width: 100%;
    
}
.sec05-img4 img {
    width: 100%;
}
.sec05-img5 img {
    width: 100%;
}

/* section05 end */

footer {
    width: 100%;
    background-color: #f7f7f7;
    padding-top: 1%;
    padding-bottom: 1%;
}
.footer-text {
    font-size: 12px;
    color: #666;
    margin: 0 auto;
}


@media (max-width:767px) {
    #section01 {
        height: 600px;
    }
    .sec01-main {
        padding-left: 10%;
    }
    .sec01-main img {
        width: 90%;
    }
    /* section01 end */

    #section02 {
        width: 100%;
    }
    .sec02-con {
     flex-direction: column;
    }
    .content-img {
        margin: 0 auto;
        width: 80%;
    }
}

@media (max-width:414px) {
    #section01 {
        width: 100%;
        height: 350px;
    }
    .sec01-main {
        width: 100%;
    }
    .sec01-text1 {
        font-size: 30px;
    }
    .sec01-text2 {
        font-size: 14px;
        line-height: 30px;
    }
    /* section01 end */

    #section02 {
        width: 100%;
    }
    .sec02-con h1 {
        font-size:24px;
        font-weight: bold;
    }
    .content-img img {
        width: 100%;
    }
    .content-img h2 {
        font-size: 19px;
        font-weight: bold;
    }
    .content-img p {
        font-size: 15px;
    }
    .sec02-daily {
        padding:0;
    }

    .ba-slider img {
        height: 300px;
    }
    /* section02 end */

    .sec03-text {
        font-size:22px;
        font-weight:bold;
    }
}