@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

@font-face { font-family: 'S-CoreDream-4Regular'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'S-CoreDream-6Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff'); font-weight: normal; font-style: normal; }

li {
    list-style: none;
    text-decoration: none;
}
.white-text {
    color: #fff;
}
p {
    font-family: 'S-CoreDream-4Regular';
    color: #444;
    font-size: 16px;
}
/* reset */

.navbar {
    width: 100%;
    background: #fff;
    border: none;
    padding: 1% 0 1% 0;
    border-bottom: 1px solid #ccc;
    position: fixed;
    z-index: 1;
}

.navbar-inverse {
    margin: 0;
}
.navbar-inverse .navbar-brand p{
    color: #222;
    position: relative;
    bottom: 48%;
    font-family: 'S-CoreDream-4Regular';
}
.navbar-brand {
    display: flex;
}
.navbar-brand img {
    width: 100%;
}
.navbar-collapse .navbar-nav li a {
    color: #555;
    font-size: 16px;
    font-weight: bold;
    font-family: 'S-CoreDream-4Regular';
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #333;
    font-weight: bold;
    font-size: 17px;
}

/* nav end */


#section01 {
    width: 100%;
    height: auto;
    background-color: #f7f7f7;
    padding-top:4%;
    padding-bottom: 1%;
}
.sec01-main {
    width: 100%;
}
.sec01-main {
    width: 100%;
    height: 600px;
    background:  url(../images/main.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.sec01-text1{
    font-size: 55px;
    margin-bottom: 0;
    padding-bottom: 0;
    font-family: 'S-CoreDream-6Bold';
}
.sec01-text2 {
    font-size: 16px;
    font-family: 'S-CoreDream-4Regular';
    padding-top: 0.8%;
}
/* section01 end */

#section02 {
    width: 100%;
    height: auto;
    margin: 0 auto;
}

.clear {
    margin-top: 2%;
    margin-bottom: 2%;
    border: 1px solid #ccc;
}
.sec02-con {
    font-family: 'S-CoreDream-6Bold';
    color: #222;
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 40px;
}
.sec02-infobox-1 {
    display: flex;
}
.def {
    background:url(../images/sec02-img-1.jpg);
    width: 480px;
    height: 480px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10%;
}
/* 디폴트 이미지=1번이미지 */
.img1{
    background:url(../images/sec02-img-1.jpg);
    width: 480px;
    height: 480px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10%;
}
.img2{
    background:url(../images/sec02-img-2.jpg);
    width: 480px;
    height: 480px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10%;
}
/* sec02-infobox-1 end */

.sec02-infobox-2 {
    display: flex;
    flex-direction: row-reverse;
}

.def2 {
    background:url(../images/sec02-img2-1.jpg);
    width: 480px;
    height: 480px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10%;
    
}
.img3{
    background:url(../images/sec02-img2-1.jpg);
    width: 480px;
    height: 480px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10%;
}
.img4{
    background:url(../images/sec02-img2-2.jpg);
    width: 480px;
    height: 480px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10%;
}
/* sec02-infobox-2 end */

.sec02-infobox-3 {
    display: flex;
}

.def3 {
    background:url(../images/sec02-img3-1.jpg);
    width: 480px;
    height: 480px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10%;
    margin-top: 11%;
}
.img5{
    background:url(../images/sec02-img3-1.jpg);
    width: 480px;
    height: 480px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10%;
    margin-top: 11%;
}
.img6{
    background:url(../images/sec02-img3-2.jpg);
    width: 480px;
    height: 480px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10%;
    margin-top: 11%;
}
.img7{
    background:url(../images/sec02-img3-3.jpg);
    width: 480px;
    height: 480px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10%;
    margin-top: 11%;
}
.img8{
    background:url(../images/sec02-img3-4.jpg);
    width: 480px;
    height: 480px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 10%;
    margin-top: 11%;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
.active, .accordion:hover {
    background-color: #ccc;
}

.accordion {
    background-color: #fff;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;
    color: #222;
    font-weight: bold;
    font-size: 16px;
}
  
.accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
  
.active:after {
    content: "\2212";
}
  
.panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
.sec02-info {
    padding-top: 2%;
    margin-left: 8%;
}
.sec02-info h2 {
    font-size: 24px;
    font-weight: bold;
    font-family: 'S-CoreDream-6Bold';
}
.sec02-info h3 {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    font-family: 'S-CoreDream-6Bold';
}
.sec02-info p {
    line-height: 30px;
    color: #222;
    font-size: 15px;
}

.sec02-water img {
    width: 100%;
}
.sec02-water h1 {
    font-family: 'S-CoreDream-6Bold';
    color: #222;
    padding-bottom: 2%;
    font-size: 40px;
}
/* section02 end */

#section03 {
    width: 100%;
    height: auto;
    margin: 0 auto;
}
.sec03-content {
    padding-bottom: 2.5%;
}
@import "lesshat";

.ba-slider-container { 
    padding-top:2%;
}
.ba-slider {
    position: relative;
    overflow: hidden;
}
 
.ba-slider img {
    width: 100%;
    display:block;
}
 
.resize {
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 50%;
    overflow: hidden;
}


.handle { /* Thin line seperator */
  position:absolute; 
  left:50%;
  top:0;
  bottom:0;
  width:4px;
  margin-left:-2px;
 
  background: rgba(0,0,0,.5);
  cursor: ew-resize;
}
 
.handle:after {  /* Big orange knob  */
    position: absolute;
    top: 50%;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;
 
    content:'\21d4';
    color:white;
    font-weight:bold;
    font-size:36px;
    text-align:center;
    line-height:64px;
 
    background: #ffb800; /* @orange */
    border:1px solid #e6a600; /* darken(@orange, 5%) */
    border-radius: 50%;
    transition:all 0.3s ease;
    box-shadow:
      0 2px 6px rgba(0,0,0,.3), 
      inset 0 2px 0 rgba(255,255,255,.5),
      inset 0 60px 50px -30px #ffd466; /* lighten(@orange, 20%)*/ 
}

.draggable:after {
    width: 48px;
    height: 48px;
    margin: -24px 0 0 -24px;
    line-height:48px;
    font-size:30px;
}

.ba-slider img {
    width: 100%;
    height: 500px;
}
.resize img {
    width: 100%;
    height: 500px;
}

.sec03-daily {
    padding-top:14%;
}
.sec03-daily h1 {
    font-family: 'S-CoreDream-6Bold';
    color: #222;
    padding-bottom: 2%;
    font-size: 40px;
}
.sec03-daily p {
    font-family: 'S-CoreDream-4Regular';
    color: #444;
    font-size: 16px;
}
/* section03 end */

#section04 {
    width: 100%;
}

.sec04-text h1 {
    font-family: 'S-CoreDream-6Bold';
    color: #222;
    padding-bottom: 2%;
    font-size: 40px;
}
/* section04 end */

#section05 {
    width: 60%;
    height: 700px;
    margin: 0 auto;
    background: url('../images/style_2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.btn1 {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #eea999;
    display: block;
    width: 60px;
    height: 60px;
    text-shadow: none;
    transition: all .5s ease 0s;
    font-size: 32px;
    margin: 5% 0 0 60.5%;
}
.btn1 img {
    width: 100%;
    margin-bottom: 30%;
}
.btn2 {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #19497a;
    display: block;
    width: 60px;
    height: 60px;
    text-shadow: none;
    transition: all .5s ease 0s;
    font-size: 32px;
    margin: 19% 0 0 18.5%;
}
.btn2 img {
    width: 100%;
    margin-bottom: 30%;
}
.btn3 {
    background: #fff;
    border: 1px solid #fff;
    border-radius: 50%;
    color: #02293a;
    display: block;
    width: 60px;
    height: 60px;
    text-shadow: none;
    transition: all .5s ease 0s;
    font-size: 33px;
    margin: 17% 0 0 60.5%;
}
.btn3 img {
    width: 100%;
    margin-bottom: 30%;
}
.modal-body3 {
    position: relative;
    overflow: hidden;
    height: 600px;
}
.slide_img {
    position: absolute;
    width: 600px;
    transition: 1s;
}
.slide_img > li {
    float: left;
    font-size: 0;
    width: 600px;
}
/* section05 end */

#section06 {
    background: url(../images/sec6_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 1010px;
}
