@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

@font-face { font-family: 'S-CoreDream-4Regular'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-4Regular.woff') format('woff'); font-weight: normal; font-style: normal; }

@font-face { font-family: 'S-CoreDream-6Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff'); font-weight: normal; font-style: normal; }

#section05 {
    width: 60%;
    height: 700px;
    margin: 0 auto;
    background: url('../images/style.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    clear: both;
}
.modal1 {
    clear: both;
    position: fixed;
    top: 6.2%;
    left: 57.6%;
}
.imgswap1 img:last-child{
    display:none;
} 
.imgswap1:hover img:first-child{
    display:none;
} 
.imgswap1:hover img:last-child{
    display:inline-block;
    width: 19%;
    border: 4px solid #fff;
    border-radius: 3%;
    position: fixed;
    top: 5%;
    left: 60%;
}

.modal2 {
    clear: both;
    position: fixed;
    top: 34.9%;
    left: 32.85%;
}
.imgswap2 img:last-child{
    display:none;
} 
.imgswap2:hover img:first-child{
    display:none;
} 
.imgswap2:hover img:last-child{
    display:inline-block;
    width: 19%;
    border: 4px solid #fff;
    border-radius: 3%;
    position: fixed;
    left: 23%;
}

.modal3 {
    clear: both;
    position: fixed;
    top: 63%;
    left: 57.6%;

}
.imgswap3 img:last-child{
    display:none;
} 
.imgswap3:hover img:first-child{
    display:none;
} 
.imgswap3:hover img:last-child{
    display:inline-block;
    width: 19%;
    border: 4px solid #fff;
    border-radius: 3%;
    position: fixed;
    top: 33%;
    left: 60%;
}